<?xml version="1.0"?>
<configuration>
  <connectionStrings configSource="Connections.config"/>
  <appSettings>
    <add key="MOTD" value="&quot;Share media for free!&quot;"/>
  </appSettings>
  <system.web>
    <globalization culture="en-GB"/>
    <compilation targetFramework="4.7.2" debug="true"/>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="1073741"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
<!--ProjectGuid: 8C3A9372-A884-4197-B3ED-71CBE4D99652-->