.large-media-landscape {
    width: 80%;
}

.video-container {
    display: block;
    margin: auto;
    width: 80%;
}

/*Youtube CSS*/
.large-youtube-container {
    display: block;
    margin: auto;
    width: 80%;
}

/*Youtube CSS*/
.youtube-container {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 600px;
    height: 300px;
}

.center_form {
    width: 50%;
    display: inline-block;
}

.image-preview {
    width: 50%;
}

@keyframes menVis {
    from {
        left: -200px;
    }

    to {
        left: 0px;
        visibility: visible;
    }
}

@keyframes menHide {
    from {
        left: 0px;
    }

    to {
        left: -200px;
        visibility: hidden;
    }
}
